<header>

    <div class="upper-side">
        <section class="search">
            <img
              [ngSrc]='searchImg'
              width="30"
              height="30"
              alt="icone de busca"
              >
        </section>
        <section class="logo">
          <h2>Ecommerce</h2>
        </section>
        <section class="client-area">
          <div class="user">
            <a routerLink="login">
              <img
                [ngSrc]='userImg'
                width="30"
                height="30"
                alt="icone de usuário"
              >
              {{ user ? getFirstName(user.name) : 'Entrar' }}
            </a>
          </div>
          <div class="shopping-cart">
            <app-cart></app-cart>
          </div>
        </section>
  </div>

</header>
