<header>

    <div class="upper-side">
        <section class="search">
            <img
              [ngSrc]='searchImg'
              width="30"
              height="30"
              alt="icone de busca"
              >
        </section>
        <section class="logo">
          <pre>
            Name
            Ecommerce
          </pre>
        </section>
        <section class="client-area">
          <div class="user">
            <a href="#">
              <img
                [ngSrc]='userImg'
                width="30"
                height="30"
                alt="icone de usuário"
              >
              {{ name }}
            </a>
          </div>
          <div class="shopping-cart">
            <a href="#">
              <img
                [ngSrc]='cartImg'
                width="30"
                height="30"
                alt="icone de um carrinho de compras"
              >
              Carrinho
            </a>
          </div>
        </section>
    </div>

</header>
