<div class="title">
  <h3>Criar novo produto</h3>
  <lucide-icon name="x" (click)="closeModal()" [size]="24"></lucide-icon>
</div>

<form [formGroup]="productForm">
  <app-input-layout type="text" formControlName="type" placeholder="Tipo"></app-input-layout>
  <app-input-layout type="text" formControlName="name" placeholder="Nome"></app-input-layout>
  <app-input-layout type="text" formControlName="price" placeholder="Preço"></app-input-layout>
  <app-input-layout type="text" formControlName="stock" placeholder="Estoque"></app-input-layout>
  <app-input-layout type="text" formControlName="imageUrl" placeholder="Imagem(url)"></app-input-layout>
    <button type="submit" class="primary" (click)="submit()" (keydown.enter)="submit()">Criar</button>
</form>
