
<app-header></app-header>

<main>
  <h2>Carrinho</h2>

  <div class="table-itens">
    <table>
      <tr>
        <th>Produto</th>
        <th class="middle">Quantidade</th>
        <th>Total</th>
      </tr>
      @for(product of products; track $index) {
        <tr>
          <td class="product">
            <img [src]="product.imageUrl" [alt]="product.name" />
            <p>{{ product.name }}</p>
          </td>
          @for (item of cartProducts; track $index) {
            @if(product.id === item.productId) {
              <td class="amount">{{ item.amount }}</td>
              <td class="price">R${{ item.amount * product.price }}</td>
            }
          }
        </tr>
      }
    </table>
  </div>
  <div class="final-infos">
    <p>Total: R${{ fullPrice }}</p>
    <button (click)="comprar()">Comprar</button>
  </div>
</main>
