:host {
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    a {
      text-align: right;
      color: blue;
    }

    app-input-layout:not(:first-child) {
      margin-top: 20px;
    }

    button {
      height: 50px;
      border: none;
      border-radius: 5px;
      transition: .1s;
      &.primary {
        background-color: #000;
        color: #fff;
        font-weight: bold;

        &:hover {
          background-color: lighten(#000, 10%);
        }
      }
    }

  }
}
