:host {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  margin: 0 auto;

  max-width: 1440px;
  padding: 0 24px;
  transition: .3s;
  main {
    padding: 0 1.5rem;

    .banners-carousel {
      width: 100%;
      display: flex;
      justify-content: center;
      .banner {
        width: 100%;
        max-height: 540px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
    }
  }

}
