<aside>
  <h2>Ecommerce</h2>
  <nav>
    <div class="item">
      <lucide-icon name="user" [size]="26"></lucide-icon>
      <a routerLink="users">Usuários</a>
    </div>
    <div class="item">
      <lucide-icon name="box" [size]="26"></lucide-icon>
      <a routerLink="products">Produtos</a>
    </div>
    <div class="item">
      <lucide-icon name="shopping-cart" [size]="26"></lucide-icon>
      <a routerLink="orders">Compras</a>
    </div>
    <div class="item">
      <lucide-icon name="user-cog" [size]="26"></lucide-icon>
      <a routerLink="administrators">Administradores</a>
    </div>
  </nav>
</aside>

<div class="dashboard">
  <header>
    <h2>Olá, <span>{{ adminInfos?.name}}</span>!</h2>
  </header>
  <router-outlet></router-outlet>
</div>
