<div class="container">
  <h1>Produtos</h1>

<div class="list-products-container">
  @for(item of products; track $index) {
    <div class="product">
      <div class="container-img">
        <img [src]="item.image" alt="Imagem do produto" width="100">
      </div>
      <div class="container-details">
        <h4 [title]="item.title">{{ item.title.length > 40 ? (item.title | slice:0:40) + '...' : item.title }}</h4>
        <p>{{ item.price | currency:'BRL' }}</p>
      </div>
      <div class="action-container">
        <button (click)="addToCart(item)">Adicionar ao carrinho</button>
      </div>
    </div>
  }
</div>
</div>
